sales dashboard

1-KPI(TOTAL SALE-PROFIT-PROFIT%)
2-CHARTS
 2.1-MONTHLY SALES AND PROFIT USING CHECKBOX
 2.2-SALES BY PAYMENT MODE (PIE CHART)
 2.3-SALES BY SALES TYPE (PIE CHART)
 2.4-PRODUCT SALES USING SCROLL BAR(BAR CHART)
 2.5-DAILY SALES (AREA CHART)

3-USING SLICER (YEAR,PAYMENT MODE ,MONTH, SALES TYPE)


------------------STEPS----------
1-TURN DATE INTO YEAR AND MONTH USING(=TEXT(DATE,"MMM"),TEXT(DATE,"YYYY))
2-CALCULATE TOTAL BUYING=QUANTITY*BUYING PRICE
3-TOTAL SELLING=QUANTITY*SELLING PRICE*(1-DISCOUNT%)


IN PIVOT TABLE 

1-CALCULATE PROFIT=TOTAL SELLING-TOTAL BUYING
2- PROFIT%=PROFIT/TOTAL BUYING
3-MAKE RANK OF PRODUCT USING RANK QUANTITY